@font-face {
    font-family: Squid;
    src: url(../assets/fonts/squids.woff);
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

label {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
}

input {
    width: 20vw;
    border: 2px solid rgb(225, 225, 225);
    border-radius: 4px;
    line-height: 1.5rem;
}

input:focus {
    outline-color: blue;
}

button {
    display: block;
    padding: 0.75rem 2.5rem;
    margin: 5vh 5vw;
    border: none;
    color: white;
    font-size: 1.15rem;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    background-color: blueviolet;
}

.main-container,
.brand-container,
.logo-container,
.form-row,
.field-group {
    display: flex;
}

.brand-container {
    background-image: url('../assets/img/signup_background.jpg');
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    height: 100vh;
}

.form-container {
    width: 70vw;
    height: 100vh;
    overflow: scroll;
    background-color: rgb(245, 245, 245);
}

.logo-container {
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(138, 46, 236, 0.6);
    margin: 25vh 0;
    height: 20vh;
}

.logo-image {
    width: auto;
    height: 20vh;
}

.logo-text {
    font-family: Squid, 'Courier New', Courier, monospace;
    color: white;
    font-size: 3rem;
}

.image-credit {
    color: white;
    text-align: center;
    margin-bottom: 1vh;
}

.image-credit a {
    color: white;
}

.disclaimer {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 10vh 5vw 5vh 5vw;
}

.common-fields {
    background-color: white;
    box-shadow: 0 5px 5px gray;
    padding: 3vh 5vw;
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.form-row {
    justify-content: space-between;
    padding-right: 10vw;
    margin-top: 3vh;
}

.field-group {
    flex-direction: column;
}

.account-check {
    margin: 0 5vw;
}

.account-check a {
    text-decoration: none;
    color: blueviolet;
}

.error {
    border-color: red;
}

.error-message {
    margin: 0;
    color: red;
    font-size: 0.6rem;
}